* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Ubuntu, roboto, noto, arial, sans-serif;
  color: #fff;
  background-color: #0F172A;
  padding-bottom: 12rem;
  margin: 8px;
}

img {
  max-width: 100%;
}

.page-heading, .page-note {
  width: 360px;
  margin-bottom: 0.75rem;
  padding: 0.75rem 1.35rem 0.5rem;
  font-size: 19px;
  border: 1px solid rgba(255,255,255,.14);
  color: #fff;
  background-color: #121B2D;
  border-radius: 16px;
  box-shadow: 0px 0px 2.7px rgba(0, 0, 0, .02),
              0px 0px 6.9px rgba(0, 0, 0, .03),
              0px 0px 14.2px rgba(0, 0, 0, .04),
              0px 0px 29.2px rgba(0, 0, 0, .05),
              0px 0px 80px rgba(0, 0, 0, .07);
}

.page-note {
  margin-bottom: 4rem;
  padding: 0.75rem 1rem;
}

.page-note__heading {
  position: relative;
  top: -1px;
  font-weight: bold;
  font-size: 15px;
  text-transform: uppercase;
  color: #7CED41;
}

.configurator {
  max-width: 700px;
  margin: 0 auto;
  padding-top: 5rem;
}

.configurator__item-container {
  overflow: hidden;
  margin-bottom: 4rem;
  border-radius: 13px;
  box-shadow: 0px 0px 2.7px rgba(0, 0, 0, .02),
              0px 0px 6.9px rgba(0, 0, 0, .03),
              0px 0px 14.2px rgba(0, 0, 0, .04),
              0px 0px 29.2px rgba(0, 0, 0, .05),
              0px 0px 80px rgba(0, 0, 0, .07);
}

.configurator__item, .polite-pop__modal-overlay {
  background-color: #274dba !important;
}

[data-polite-pop-configurable="main-pop"], [data-polite-pop-configurable="exit-intent"] {
  padding: 3.5rem 3.5rem 5rem 3.5rem;
}

[data-polite-pop-configurable="exit-intent"] {
  padding-top: 7.5rem;
}

.configurator__item-edit-container {
  padding: 2.5rem 1.75rem;
  color: #fff;
  background-color: #1d2741;
}

.configurator__item-edit-container > .configurator__item-editor + .configurator__item-editor {
  margin-top: 1.5rem;
}

.configurator__item-editor-heading {
  margin-bottom: 6px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: bold;
}

.configurator__item-heading {
  margin: 0 0 .5em 0;
}

.configurator__item-input {
  width: 100%;
  padding: 16px 22px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 0.8px rgb(0, 0, 0, .02),
              0px 0px 2px rgb(0, 0, 0, .03),
              0px 0px 3.8px rgb(0, 0, 0, .04),
              0px 0px 6.7px rgb(0, 0, 0, .04),
              0px 0px 12.5px rgb(0, 0, 0, .05),
              0px 0px 30px rgb(0, 0, 0, .07);
}












/* override quill styles */
.ql-container {
  font-size: 16px;
  color: #111827;
}
.ql-toolbar.ql-snow {
  padding: 5px;
  border-width: 0;
  border-bottom: 1px solid #cbd5e1;
  border-radius: 5px 5px 0 0;
  background-color: #fff;
  box-shadow: 0px 0px 0.8px rgb(0, 0, 0, .02),
              0px 0px 2px rgb(0, 0, 0, .03),
              0px 0px 3.8px rgb(0, 0, 0, .04),
              0px 0px 6.7px rgb(0, 0, 0, .04),
              0px 0px 12.5px rgb(0, 0, 0, .05),
              0px 0px 30px rgb(0, 0, 0, .07);
}
.ql-container.ql-snow {
  border-width: 0;
  border-radius: 0 0 5px 5px;
  background-color: #fff;
  box-shadow: 0px 0px 0.8px rgb(0, 0, 0, .02),
              0px 0px 2px rgb(0, 0, 0, .03),
              0px 0px 3.8px rgb(0, 0, 0, .04),
              0px 0px 6.7px rgb(0, 0, 0, .04),
              0px 0px 12.5px rgb(0, 0, 0, .05),
              0px 0px 30px rgb(0, 0, 0, .07);
}
.ql-editor {
  padding: 16px 22px;
}




/* override polite pop modal and pop styles */
.polite-pop, .polite-pop * {
  animation: none !important;
}
.configurator__item > .polite-pop {
  display: block;
  position: static;
  transform: none;
}
.configurator__item > .polite-pop .polite-pop__pop-hedgie {
  display: none;
}
.configurator__item > .polite-pop .polite-pop__pop-hedgie--hi-there-waving-up, 
.configurator__item > .polite-pop .polite-pop__pop-hedgie--plz-wait {
  display: block;
  opacity: 1;
  transform: rotate(-0deg);
}
.configurator__item > .polite-pop__pop--exit-intent .polite-pop__pop-hedgie-row {
  transform: translate(0px, 0px);
}
.configurator .polite-pop__modal-overlay {
  position: static;
  padding-top: 3rem;
}
.configurator .polite-pop__modal-form-submission-note {
  display: none;
}





.hljs {
  padding: 16px 22px;
  font-size: 16px;
  line-height: 1.44;
  background-color: #1d2741;
  border-radius: 13px;
  box-shadow: 0px 0px 2.7px rgba(0, 0, 0, .02),
              0px 0px 6.9px rgba(0, 0, 0, .03),
              0px 0px 14.2px rgba(0, 0, 0, .04),
              0px 0px 29.2px rgba(0, 0, 0, .05),
              0px 0px 80px rgba(0, 0, 0, .07);
}








/* custom select from http://wtfforms.com/ */

/*
 * Select
 */

.select {
  position: relative;
  width: 100%;
  display: inline-block;
  color: #555;
  box-shadow: 0px 0px 2.7px rgba(0, 0, 0, .02),
              0px 0px 6.9px rgba(0, 0, 0, .03),
              0px 0px 14.2px rgba(0, 0, 0, .04),
              0px 0px 29.2px rgba(0, 0, 0, .05),
              0px 0px 80px rgba(0, 0, 0, .07);
}

.select select {
  display: inline-block;
  width: 100%;
  margin: 0;
  padding: 12px 48px 12px 22px;
  font-size: 16px;
  line-height: 1.5;
  color: #555;
  background-color: #eee;
  border: 0;
  border-radius: 5px;
  cursor: pointer;
  outline: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
/* Undo the Firefox inner focus ring */
.select select:focus:-moz-focusring {
  color: transparent;
  text-shadow: 0 0 0 #000;
}
/* Dropdown arrow */
.select:after {
  position: absolute;
  top: 50%;
  right: 1.25rem;
  display: inline-block;
  content: "";
  width: 0;
  height: 0;
  margin-top: -.15rem;
  pointer-events: none;
  border-top: .35rem solid;
  border-right: .35rem solid transparent;
  border-bottom: .35rem solid transparent;
  border-left: .35rem solid transparent;
}

/* Hover state */
/* Uncomment if you need it, but be aware of the sticky iOS states.
.select select:hover {
  background-color: #ddd;
}
*/

/* Focus */
.select select:focus {
  box-shadow: 0 0 0 .075rem #fff, 0 0 0 .2rem #0074d9;
}

/* Active/open */
.select select:active {
  color: #fff;
  background-color: #0074d9;
}

/* Hide the arrow in IE10 and up */
.select select::-ms-expand {
  display: none;
}

/* Media query to target Firefox only */
@-moz-document url-prefix() {
  /* Firefox hack to hide the arrow */
  .select select {
    text-indent: 0.01px;
    text-overflow: '';
    padding-right: 1rem;
  }

  /* <option> elements inherit styles from <select>, so reset them. */
  .select option {
    background-color: #fff;
  }
}

/* IE9 hack to hide the arrow */
@media screen and (min-width:0\0) {
  .select select {
    z-index: 1;
    padding: .5rem 1.5rem .5rem 1rem;
  }
  .select:after {
    z-index: 5;
  }
  .select:before {
    position: absolute;
    top: 0;
    right: 1rem;
    bottom: 0;
    z-index: 2;
    content: "";
    display: block;
    width: 1.5rem;
    background-color: #eee;
  }
  .select select:hover,
  .select select:focus,
  .select select:active {
    color: #555;
    background-color: #eee;
  }
}


@media (max-width: 640px) {
  .configurator {
    padding-top: 8px;
  }

  .configurator__item-container {
    box-shadow: none;
  }

  [data-polite-pop-configurable="main-pop"], [data-polite-pop-configurable="exit-intent"] {
    padding: .5rem 0rem 2rem;
  }

  [data-polite-pop-configurable="exit-intent"] {
    padding-top: 4rem;
  }

  .configurator__item, .polite-pop__modal-overlay {
    background-color: transparent !important;
  }

  .polite-pop__modal-container {
    max-height: none;
  }

  .configurator .polite-pop__modal-overlay {
    padding: 1rem 0;
  }

  .polite-pop__modal-empty-space {
    display: none;
  }

  .icon {
    position: static;
  }
}














