//  This example requires Tailwind CSS v2.0+ 
//
  
    This example requires updating your template:
  
    ```
    <html class="h-full">
    <body class="h-full">
    ```
html
  include common/app-head.pug
  +head("Welcome to Stackboost")  
  body
    .min-h-full
      include common/app-navbar.pug
      +app-navbar()
      .py-10
        header
          .max-w-7xl.mx-auto.px-4.sm_px-6.lg_px-8
            h2.text-3xl.font-bold.leading-tight.text-gray-900 Welcome, Sila Admin
        main
          //- JWT that identifies this user:
          div(hidden, id="token", data-token=token)
          .max-w-7xl.mx-auto.px-2.sm_px-6.md_px-8.mt-8
            .bg-white.px-2.py-1.sm_px-6.lg_px-8.border.rounded-md.border-indigo-300
              include common/tab-pills.pug
              +tab_pills()
          .max-w-7xl.mx-auto.px-2.sm_px-6.md_px-8.bg_superblocks
            //  Replace with your content 
            .py-4
              .flex.flex-col
                div(id="superblocks-embed-here").-my-2.py-2.overflow-x-auto.sm_-mx-6.sm_px-6.lg_-mx-8.lg_px-8.pt-6
                  iframe(src="https://app.superblocks.com/applications/5f366867-139f-4788-aaa8-10cd010d6ed4/pages/a9ac6965-7643-4bd3-a821-d2f8be701240?otc=" + otc, width="100%", height="100%")
    include ./common/app-footer.pug
    +footer()
    script(src=asset('javascripts/display-orgs.js'))
    script.
      $(document).ready (function(){
        let jwt = $("#token").attr("data-token");
        // Nothing to see here.
        
      });

  