extends common/app-sidebar.pug
block head
  include common/app-head.pug
  +head("Welcome to your Application")
block page_content
  //  Replace with your content 
  .max-w-7xl.mx-auto.px-4.sm_px-6.md_px-8
    h1.text-2xl.font-semibold.text-gray-900 Page1!
    h4.text-gray-600 You can add more pages to your application under the /app/ folder.
    h3.text-gray-600 As an example, this page is served by 'feature1.pug' under your template.
block footer
  include common/app-footer.pug
  +footer()
