html
  head 
    include common/head.pug
    +head(title)
  body
    .relative.bg-white.overflow-hidden
      include common/landing-navbar.pug
      +landing-navbar()
      main.mt-8.mx-auto.max-w-screen-xl.px-4.sm_mt-12.sm_px-6.md_mt-20.xl_mt-24
        .lg_grid.lg_grid-cols-12.lg_gap-8
          .sm_text-center.md_max-w-2xl.md_mx-auto.lg_col-span-6.lg_text-left
            .text-sm.font-semibold.uppercase.tracking-wide.text-gray-500.sm_text-base.lg_text-sm.xl_text-base.
              NextJS Demo Application Entry Point on SaaSBox
            h2.mt-1.text-4xl.tracking-tight.leading-10.font-extrabold.text-gray-900.sm_leading-none.sm_text-6xl.lg_text-5xl.xl_text-6xl
              | NextJS based standalone SaaS application
              br.hidden.md_inline
              span.text-indigo-600 with built-in subscriptions management and authentication using SaaSBox
            p.mt-3.text-base.text-gray-500.sm_mt-5.sm_text-xl.lg_text-lg.xl_text-xl.
              This is a demo. Landing page, user auth, SaaS admin dashboard and stripe Subscription management are hosted on SaaSBox.
              Once you log in you will be redirected to the NextJS standalone SaaS application dashboard.
            .mt-5.sm_max-w-lg.sm_mx-auto.sm_text-center.lg_text-left.lg_mx-0
              p.text-base.font-medium.text-gray-900.
                Sign up to get notified when it’s ready.
              form.mt-3.sm_flex(action='/', method='POST')
                input(name="lead_email", type="email", placeholder="Enter your email address").appearance-none.block.w-full.px-3.py-3.border.border-gray-300.text-base.leading-6.rounded-md.placeholder-gray-500.shadow-sm.focus_outline-none.focus_placeholder-gray-400.focus_ring-blue.focus_border-blue-300.transition.duration-150.ease-in-out.sm_flex-1
                button.mt-3.w-full.px-6.py-3.border.border-transparent.text-base.leading-6.font-medium.rounded-md.text-white.bg-gray-800.shadow-sm.hover_bg-gray-700.focus_outline-none.focus_border-gray-900.focus_ring-gray.active_bg-gray-900.transition.duration-150.ease-in-out.sm_mt-0.sm_ml-3.sm_flex-shrink-0.sm_inline-flex.sm_items-center.sm_w-auto(type='submit').
                  Notify me
              p.mt-3.text-sm.leading-5.text-gray-500
                | We care about the protection of your data. Read our 
                a.font-medium.text-gray-900.underline(href='#') Privacy Policy
                | .
          .mt-12.relative.sm_max-w-lg.sm_mx-auto.lg_mt-0.lg_max-w-none.lg_mx-0.lg_col-span-6.lg_flex.lg_items-center
            img.w-full(src=asset("images/nextjs-saas-screenshot.png"))
            //-svg.absolute.top-0.left-1.transform.-translate-x-1.-translate-y-8.scale-75.origin-top.sm_scale-100.lg_hidden(width='640', height='784', fill='none', viewBox='0 0 640 784')
              defs
                pattern#4f4f415c-a0e9-44c2-9601-6ded5a34a13e(x='118', y='0', width='20', height='20', patternUnits='userSpaceOnUse')
                  rect.text-gray-200(x='0', y='0', width='4', height='4', fill='currentColor')
              rect.text-gray-50(y='72', width='640', height='640', fill='currentColor')
              rect(x='118', width='404', height='784', fill='url(#4f4f415c-a0e9-44c2-9601-6ded5a34a13e)')
            //-.relative.mx-auto.w-full.rounded-lg.shadow-lg.lg_max-w-md
              button.relative.block.w-full.rounded-lg.overflow-hidden.focus_outline-none.focus_ring(type='button')
                img.w-full(src='https://images.unsplash.com/photo-1556740758-90de374c12ad?ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80', alt='Woman making a sale')
                .absolute.inset-0.w-full.h-full.flex.items-center.justify-center
                  svg.h-20.w-20.text-indigo-500(fill='currentColor', viewBox='0 0 84 84')
                    circle(opacity='0.9', cx='42', cy='42', r='42', fill='white')
                    path(d='M55.5039 40.3359L37.1094 28.0729C35.7803 27.1869 34 28.1396 34 29.737V54.263C34 55.8604 35.7803 56.8131 37.1094 55.9271L55.5038 43.6641C56.6913 42.8725 56.6913 41.1275 55.5039 40.3359Z')
    include common/footer.pug
    +footer()
