mixin navbar()
  .relative.bg-white
    .flex.justify-between.items-center.px-4.py-6.sm_px-6.md_justify-start.md_space-x-10
      .lg_w-0.lg_flex-1
        a.flex(href='#')
          img.h-8.w-auto.sm_h-10(src='https://tailwindui.com/img/logos/workflow-mark-on-white.svg' alt='Workflow')
      .-mr-2.-my-2.md_hidden
        button.inline-flex.items-center.justify-center.p-2.rounded-md.text-gray-400.hover_text-gray-500.hover_bg-gray-100.focus_outline-none.focus_bg-gray-100.focus_text-gray-500.transition.duration-150.ease-in-out(type='button')
          //  Heroicon name: menu 
          svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
            path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6h16M4 12h16M4 18h16')
      nav.hidden.md_flex.space-x-10
        .relative
          //  Item active: "text-gray-900", Item inactive: "text-gray-500" 
          button.group.text-gray-500.inline-flex.items-center.space-x-2.text-base.leading-6.font-medium.hover_text-gray-900.focus_outline-none.focus_text-gray-900.transition.ease-in-out.duration-150(type='button')
            span Solutions
            //-
              
                          Heroicon name: chevron-down
              
                          Item active: "text-gray-600", Item inactive: "text-gray-400"
                        
            svg.text-gray-400.h-5.w-5.group-hover_text-gray-500.group-focus_text-gray-500.transition.ease-in-out.duration-150(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
              path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')
          //-
            
                      'Solutions' flyout menu, show/hide based on flyout menu state.
            
                      Entering: "transition ease-out duration-200"
                        From: "opacity-0 translate-y-1"
                        To: "opacity-100 translate-y-0"
                      Leaving: "transition ease-in duration-150"
                        From: "opacity-100 translate-y-0"
                        To: "opacity-0 translate-y-1"
                    
          .absolute.-ml-4.mt-3.transform.w-screen.max-w-md.md_max-w-3xl.lg_ml-0.lg_left-1.lg_-translate-x-1
            .rounded-lg.shadow-lg
              .rounded-lg.ring1.ring-black.ring-opacity-5.overflow-hidden
                .z-20.relative.grid.gap-6.bg-white.px-5.py-6.sm_gap-8.sm_p-8.lg_grid-cols-2
                  a.-m-3.p-3.flex.items-start.space-x-4.rounded-lg.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                    .flex-shrink-0.flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white.sm_h-12.sm_w-12
                      //  Heroicon name: chart-bar 
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                    .space-y-1
                      p.text-base.leading-6.font-medium.text-gray-900.
                        Analytics
                      p.text-sm.leading-5.text-gray-500.
                        Get a better understanding of where your traffic is coming from.
                  a.-m-3.p-3.flex.items-start.space-x-4.rounded-lg.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                    .flex-shrink-0.flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white.sm_h-12.sm_w-12
                      //  Heroicon name: cursor-click 
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122')
                    .space-y-1
                      p.text-base.leading-6.font-medium.text-gray-900.
                        Engagement
                      p.text-sm.leading-5.text-gray-500.
                        Speak directly to your customers in a more meaningful way.
                  a.-m-3.p-3.flex.items-start.space-x-4.rounded-lg.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                    .flex-shrink-0.flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white.sm_h-12.sm_w-12
                      //  Heroicon name: shield-check 
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z')
                    .space-y-1
                      p.text-base.leading-6.font-medium.text-gray-900.
                        Security
                      p.text-sm.leading-5.text-gray-500.
                        Your customers data will be safe and secure.
                  a.-m-3.p-3.flex.items-start.space-x-4.rounded-lg.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                    .flex-shrink-0.flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white.sm_h-12.sm_w-12
                      //  Heroicon name: view-grid 
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z')
                    .space-y-1
                      p.text-base.leading-6.font-medium.text-gray-900.
                        Integrations
                      p.text-sm.leading-5.text-gray-500.
                        Connect with third-party tools that you’re already using.
                  a.-m-3.p-3.flex.items-start.space-x-4.rounded-lg.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                    .flex-shrink-0.flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white.sm_h-12.sm_w-12
                      //  Heroicon name: refresh 
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15')
                    .space-y-1
                      p.text-base.leading-6.font-medium.text-gray-900.
                        Automations
                      p.text-sm.leading-5.text-gray-500.
                        Build strategic funnels that will drive your customers to convert
                  a.-m-3.p-3.flex.items-start.space-x-4.rounded-lg.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                    .flex-shrink-0.flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white.sm_h-12.sm_w-12
                      //  Heroicon name: document-report 
                      svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                        path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z')
                    .space-y-1
                      p.text-base.leading-6.font-medium.text-gray-900.
                        Reports
                      p.text-sm.leading-5.text-gray-500.
                        Get detailed reports that will help you make more informed decisions
                .p-5.bg-gray-50.sm_p-8
                  a.-m-3.p-3.flow-root.space-y-1.rounded-md.hover_bg-gray-100.transition.ease-in-out.duration-150(href='#')
                    .flex.items-center.space-x-3
                      .text-base.leading-6.font-medium.text-gray-900.
                        Enterprise
                      span.inline-flex.items-center.px-3.py-1.rounded-full.text-xs.font-medium.leading-5.bg-indigo-100.text-indigo-800.
                        New
                    p.text-sm.leading-5.text-gray-500.
                      Empower your entire team with even more advanced tools.
        a.text-base.leading-6.font-medium.text-gray-500.hover_text-gray-900.focus_outline-none.focus_text-gray-900.transition.ease-in-out.duration-150(href='#').
          Pricing
        a.text-base.leading-6.font-medium.text-gray-500.hover_text-gray-900.focus_outline-none.focus_text-gray-900.transition.ease-in-out.duration-150(href='#').
          Docs
        .relative
          //  Item active: "text-gray-900", Item inactive: "text-gray-500" 
          button.group.text-gray-500.inline-flex.items-center.space-x-2.text-base.leading-6.font-medium.hover_text-gray-900.focus_outline-none.focus_text-gray-900.transition.ease-in-out.duration-150(type='button')
            span More
            //-
              
                          Heroicon name: chevron-down
              
                          Item active: "text-gray-600", Item inactive: "text-gray-400"
                        
            svg.text-gray-400.h-5.w-5.group-hover_text-gray-500.group-focus_text-gray-500.transition.ease-in-out.duration-150(xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20' fill='currentColor')
              path(fill-rule='evenodd' d='M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z' clip-rule='evenodd')
          //-
            
                      'More' flyout menu, show/hide based on flyout menu state.
            
                      Entering: "transition ease-out duration-200"
                        From: "opacity-0 translate-y-1"
                        To: "opacity-100 translate-y-0"
                      Leaving: "transition ease-in duration-150"
                        From: "opacity-100 translate-y-0"
                        To: "opacity-0 translate-y-1"
                    
          .absolute.left-1.transform.-translate-x-1.mt-3.px-2.w-screen.max-w-xs.sm_px-0
            .rounded-lg.shadow-lg
              .rounded-lg.ring1.ring-black.ring-opacity-5.overflow-hidden
                .z-20.relative.grid.gap-6.bg-white.px-5.py-6.sm_gap-8.sm_p-8
                  a.-m-3.p-3.block.space-y-1.rounded-md.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                    p.text-base.leading-6.font-medium.text-gray-900.
                      Blog
                    p.text-sm.leading-5.text-gray-500.
                      Learn about tips, product updates and company culture.
                  a.-m-3.p-3.block.space-y-1.rounded-md.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                    p.text-base.leading-6.font-medium.text-gray-900.
                      Help Center
                    p.text-sm.leading-5.text-gray-500.
                      Get all of your questions answered in our forums of contact support.
                  a.-m-3.p-3.block.space-y-1.rounded-md.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                    p.text-base.leading-6.font-medium.text-gray-900.
                      Guides
                    p.text-sm.leading-5.text-gray-500.
                      Learn how to maximize our platform to get the most out of it.
                  a.-m-3.p-3.block.space-y-1.rounded-md.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                    p.text-base.leading-6.font-medium.text-gray-900.
                      Events
                    p.text-sm.leading-5.text-gray-500.
                      Check out webinars with experts and learn about our annual conference.
                  a.-m-3.p-3.block.space-y-1.rounded-md.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                    p.text-base.leading-6.font-medium.text-gray-900.
                      Security
                    p.text-sm.leading-5.text-gray-500.
                      Understand how we take your privacy seriously.
      .hidden.md_flex.items-center.justify-end.space-x-8.md_flex-1.lg_w-0
        a.whitespace-nowrap.text-base.leading-6.font-medium.text-gray-500.hover_text-gray-900.focus_outline-none.focus_text-gray-900(href='#').
          Sign in
        span.inline-flex.rounded-md.shadow-sm
          a.whitespace-nowrap.inline-flex.items-center.justify-center.px-4.py-2.border.border-transparent.text-base.leading-6.font-medium.rounded-md.text-white.bg-indigo-600.hover_bg-indigo-500.focus_outline-none.focus_border-indigo-700.focus_ring-indigo.active_bg-indigo-700.transition.ease-in-out.duration-150(href='#').
            Sign up
    //-
      
          Mobile menu, show/hide based on mobile menu state.
      
          Entering: "duration-200 ease-out"
            From: "opacity-0 scale-95"
            To: "opacity-100 scale-100"
          Leaving: "duration-100 ease-in"
            From: "opacity-100 scale-100"
            To: "opacity-0 scale-95"
        
    .absolute.top-0.inset-x-0.p-2.transition.transform.origin-top-right.md_hidden
      .rounded-lg.shadow-lg
        .rounded-lg.ring1.ring-black.ring-opacity-5.bg-white.divide-y-2.divide-gray-50
          .pt-5.pb-6.px-5.space-y-6
            .flex.items-center.justify-between
              div
                img.h-8.w-auto(src='https://tailwindui.com/img/logos/workflow-mark-on-white.svg' alt='Workflow')
              .-mr-2
                button.inline-flex.items-center.justify-center.p-2.rounded-md.text-gray-400.hover_text-gray-500.hover_bg-gray-100.focus_outline-none.focus_bg-gray-100.focus_text-gray-500.transition.duration-150.ease-in-out(type='button')
                  //  Heroicon name: x 
                  svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                    path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M6 18L18 6M6 6l12 12')
            div
              nav.grid.grid-cols-1.gap-7
                a.-m-3.p-3.flex.items-center.space-x-4.rounded-lg.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                  .flex-shrink-0.flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white
                    //  Heroicon name: chart-bar 
                    svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                  .text-base.leading-6.font-medium.text-gray-900.
                    Analytics
                a.-m-3.p-3.flex.items-center.space-x-4.rounded-lg.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                  .flex-shrink-0.flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white
                    //  Heroicon name: cursor-click 
                    svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M15 15l-2 5L9 9l11 4-5 2zm0 0l5 5M7.188 2.239l.777 2.897M5.136 7.965l-2.898-.777M13.95 4.05l-2.122 2.122m-5.657 5.656l-2.12 2.122')
                  .text-base.leading-6.font-medium.text-gray-900.
                    | Engagement
                a.-m-3.p-3.flex.items-center.space-x-4.rounded-lg.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                  .flex-shrink-0.flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white
                    //  Heroicon name: shield-check 
                    svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 12l2 2 4-4m5.618-4.016A11.955 11.955 0 0112 2.944a11.955 11.955 0 01-8.618 3.04A12.02 12.02 0 003 9c0 5.591 3.824 10.29 9 11.622 5.176-1.332 9-6.03 9-11.622 0-1.042-.133-2.052-.382-3.016z')
                  .text-base.leading-6.font-medium.text-gray-900
                    | Security
                a.-m-3.p-3.flex.items-center.space-x-4.rounded-lg.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                  .flex-shrink-0.flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white
                    //  Heroicon name: view-grid 
                    svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2V6zM14 6a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2V6zM4 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2H6a2 2 0 01-2-2v-2zM14 16a2 2 0 012-2h2a2 2 0 012 2v2a2 2 0 01-2 2h-2a2 2 0 01-2-2v-2z')
                  .text-base.leading-6.font-medium.text-gray-900.
                    Integrations     
                a.-m-3.p-3.flex.items-center.space-x-4.rounded-lg.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                  .flex-shrink-0.flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white
                    //  Heroicon name: refresh 
                    svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M4 4v5h.582m15.356 2A8.001 8.001 0 004.582 9m0 0H9m11 11v-5h-.581m0 0a8.003 8.003 0 01-15.357-2m15.357 2H15')
                  .text-base.leading-6.font-medium.text-gray-900.
                    Automations   
                a.-m-3.p-3.flex.items-center.space-x-4.rounded-lg.hover_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                  .flex-shrink-0.flex.items-center.justify-center.h-10.w-10.rounded-md.bg-indigo-500.text-white
                    //  Heroicon name: document-report 
                    svg.h-6.w-6(xmlns='http://www.w3.org/2000/svg' fill='none' viewBox='0 0 24 24' stroke='currentColor')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M9 17v-2m3 2v-4m3 4v-6m2 10H7a2 2 0 01-2-2V5a2 2 0 012-2h5.586a1 1 0 01.707.293l5.414 5.414a1 1 0 01.293.707V19a2 2 0 01-2 2z')
                  .text-base.leading-6.font-medium.text-gray-900.
                    Reports        
          .py-6.px-5.space-y-6
            .grid.grid-cols-2.gap-4
              a.text-base.leading-6.font-medium.text-gray-900.hover_text-gray-700.transition.ease-in-out.duration-150(href='#').
                Pricing
              a.text-base.leading-6.font-medium.text-gray-900.hover_text-gray-700.transition.ease-in-out.duration-150(href='#').
                Docs
              a.text-base.leading-6.font-medium.text-gray-900.hover_text-gray-700.transition.ease-in-out.duration-150(href='#').
                Enterprise
              a.text-base.leading-6.font-medium.text-gray-900.hover_text-gray-700.transition.ease-in-out.duration-150(href='#').
                Blog
              a.text-base.leading-6.font-medium.text-gray-900.hover_text-gray-700.transition.ease-in-out.duration-150(href='#').
                Help Center
              a.text-base.leading-6.font-medium.text-gray-900.hover_text-gray-700.transition.ease-in-out.duration-150(href='#').
                Guides
              a.text-base.leading-6.font-medium.text-gray-900.hover_text-gray-700.transition.ease-in-out.duration-150(href='#').
                Security
              a.text-base.leading-6.font-medium.text-gray-900.hover_text-gray-700.transition.ease-in-out.duration-150(href='#').
                Events
            .space-y-6
              span.w-full.flex.rounded-md.shadow-sm
                a.w-full.flex.items-center.justify-center.px-4.py-2.border.border-transparent.text-base.leading-6.font-medium.rounded-md.text-white.bg-indigo-600.hover_bg-indigo-500.focus_outline-none.focus_border-indigo-700.focus_ring-indigo.active_bg-indigo-700.transition.ease-in-out.duration-150(href='#').
                  Sign up
              p.text-center.text-base.leading-6.font-medium.text-gray-500
                | Existing customer?
                a.text-indigo-600.hover_text-indigo-500.transition.ease-in-out.duration-150(href='#').
                  Sign in
                  
