block head
body.antialiased.font-sans.bg-gray-200
  div
    .bg-gray-100(style='min-height: 640px')
      .h-screen.flex.overflow-hidden.bg-gray-100(x-data='{ sidebarOpen: false }', @keydown.window.escape='sidebarOpen = false')
        // Off-canvas menu for mobile 
        .md_hidden(id="sidebar-nav-mobile", x-show='sidebarOpen', style='display: none;')
          .fixed.inset-0.flex.z-40
            .fixed.inset-0(@click='sidebarOpen = false', x-show='sidebarOpen', x-description='Off-canvas menu overlay, show/hide based on off-canvas menu state.', x-transition_enter='transition-opacity ease-linear duration-300', x-transition_enter-start='opacity-0', x-transition_enter-end='opacity-100', x-transition_leave='transition-opacity ease-linear duration-300', x-transition_leave-start='opacity-100', x-transition_leave-end='opacity-0', style='display: none;')
              .absolute.inset-0.bg-gray-600.opacity-75
            .relative.flex-1.flex.flex-col.max-w-xs.w-full.pt-5.pb-4.bg-indigo-800(x-show='sidebarOpen', x-description='Off-canvas menu, show/hide based on off-canvas menu state.', x-transition_enter='transition ease-in-out duration-300 transform', x-transition_enter-start='-translate-x-full', x-transition_enter-end='translate-x-0', x-transition_leave='transition ease-in-out duration-300 transform', x-transition_leave-start='translate-x-0', x-transition_leave-end='-translate-x-full', style='display: none;')
              .absolute.top-0.right-0.-mr-14.p-1
                button.flex.items-center.justify-center.h-12.w-12.rounded-full.focus_outline-none.focus_bg-gray-600(x-show='sidebarOpen', @click='sidebarOpen = false', aria-label='Close sidebar', style='display: none;')
                  svg.h-6.w-6.text-white(stroke='currentColor', fill='none', viewBox='0 0 24 24')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M6 18L18 6M6 6l12 12')
              .flex-shrink-0.flex.items-center.px-4
                img.h-8.w-auto(src=asset('/images/SaaSBox2.svg'), alt='Workflow')
              .mt-5.flex-1.h-0.overflow-y-auto
                nav.px-2
                a.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-white.rounded-md.bg-indigo-900.focus_outline-none.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/welcome')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6')
                  | Users
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/leads')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z')
                  | Leads
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/landing')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z')
                  | Landing Content
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/templates')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M8 7V3m8 4V3m-9 8h10M5 21h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v12a2 2 0 002 2z')
                  | Page Templates
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/stripe-settings')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z')
                  | Stripe
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/plans')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                  | Plans
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/fbpixel')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                  | Facebook Pixel
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/ganalytics')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                  | Google Analytics
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/mailchimp')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                  | Mailchimp
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/blog-settings')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                  | Blog
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/domain-settings')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                  | Domain
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/social-settings')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                  | Social Login
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/apicreds/saasbox')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                  | Inbound API Key
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/apicreds/apiserver')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                  | Outbound JWT Secret
            .flex-shrink-0.w-14
              // Dummy element to force sidebar to shrink to fit close icon 
        // Static sidebar for desktop 
        div(id="sidebar-nav").hidden.md_flex.md_flex-shrink-0
          .flex.flex-col.w-64.bg-indigo-800.pt-5.pb-4
            .flex.items-center.flex-shrink-0.px-4
              img.h-8.w-auto(src=asset('/images/SaaSBox2.svg'), alt='Workflow')
            .mt-5.h-0.flex-1.flex.flex-col.overflow-y-auto
              // Sidebar component, swap this element with another sidebar if you like
              nav.flex-1.px-2.bg-indigo-800
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/welcome')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M3 12l2-2m0 0l7-7 7 7M5 10v10a1 1 0 001 1h3m10-11l2 2m-2-2v10a1 1 0 01-1 1h-3m-6 0a1 1 0 001-1v-4a1 1 0 011-1h2a1 1 0 011 1v4a1 1 0 001 1m-6 0h6')
                  | Welcome
                //-a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/appUsers')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z')
                  | Users
                div(x-data='{ isExpanded: false }').topmenu
                  a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(@click='isExpanded = !isExpanded' x-bind:aria-expanded='isExpanded' aria-expanded='true', href='/dashboard/appUsers')
                    svg.mr-3.h-6.w-6.text-indigo-400.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                      path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z')
                    | Users
                    svg.ml-auto.h-5.w-5.transform.group-hover_text-gray-400.group-focus_text-gray-400.transition-colors.ease-in-out.duration-150.text-gray-400.rotate-90(:class='{ \'text-gray-400 rotate-90\': isExpanded, \'text-gray-300\': !isExpanded }' x-state:on='Expanded' x-state:off='Collapsed' viewBox='0 0 20 20')
                      path(d='M6 6L14 10L6 14V6Z' fill='currentColor')
                  //-.mt-1(x-show='isExpanded' x-description='Expandable link section, show/hide based on state.')
                    a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/appUsers')
                      svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z')
                      | Users
                  .mt-1(x-show='isExpanded' x-description='Expandable link section, show/hide based on state.')
                    a.mt-1.group.flex.items-center.pl-10.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/leads')
                      svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                        path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d="M17 20h5v-2a3 3 0 00-5.356-1.857M17 20H7m10 0v-2c0-.656-.126-1.283-.356-1.857M7 20H2v-2a3 3 0 015.356-1.857M7 20v-2c0-.656.126-1.283.356-1.857m0 0a5.002 5.002 0 019.288 0M15 7a3 3 0 11-6 0 3 3 0 016 0zm6 3a2 2 0 11-4 0 2 2 0 014 0zM7 10a2 2 0 11-4 0 2 2 0 014 0z")
                      | Leads     
                //-div(x-data='{ isExpanded: false }')
                  button.mt-1.group.w-full.flex.items-center.pl-2.pr-1.py-2.text-sm.leading-5.font-medium.rounded-md.bg-white.text-gray-600.hover_text-gray-900.hover_bg-gray-50.focus_outline-none.focus_text-gray-900.focus_bg-gray-50.transition.ease-in-out.duration-150(@click.prevent='isExpanded = !isExpanded' x-bind:aria-expanded='isExpanded' aria-expanded='true')
                    svg.mr-3.h-6.w-6.text-gray-400.group-hover_text-gray-600.group-focus_text-gray-600.transition.ease-in-out.duration-150(fill='none' viewBox='0 0 24 24' stroke='currentColor')
                      path(stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M12 4.354a4 4 0 110 5.292M15 21H3v-1a6 6 0 0112 0v1zm0 0h6v-1a6 6 0 00-9-5.197M13 7a4 4 0 11-8 0 4 4 0 018 0z')
                    | Team
                    svg.ml-auto.h-5.w-5.transform.group-hover_text-gray-400.group-focus_text-gray-400.transition-colors.ease-in-out.duration-150.text-gray-400.rotate-90(:class='{ \'text-gray-400 rotate-90\': isExpanded, \'text-gray-300\': !isExpanded }' x-state:on='Expanded' x-state:off='Collapsed' viewBox='0 0 20 20')
                      path(d='M6 6L14 10L6 14V6Z' fill='currentColor')
                  .mt-1(x-show='isExpanded' x-description='Expandable link section, show/hide based on state.')
                    a.group.w-full.flex.items-center.pl-11.pr-2.py-2.text-sm.leading-5.font-medium.text-gray-600.rounded-md.hover_text-gray-900.hover_bg-gray-50.focus_outline-none.focus_text-gray-900.focus_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                      | Overview
                    a.mt-1.group.w-full.flex.items-center.pl-11.pr-2.py-2.text-sm.leading-5.font-medium.text-gray-600.rounded-md.hover_text-gray-900.hover_bg-gray-50.focus_outline-none.focus_text-gray-900.focus_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                      | Members
                    a.mt-1.group.w-full.flex.items-center.pl-11.pr-2.py-2.text-sm.leading-5.font-medium.text-gray-600.rounded-md.hover_text-gray-900.hover_bg-gray-50.focus_outline-none.focus_text-gray-900.focus_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                      | Calendar
                    a.mt-1.group.w-full.flex.items-center.pl-11.pr-2.py-2.text-sm.leading-5.font-medium.text-gray-600.rounded-md.hover_text-gray-900.hover_bg-gray-50.focus_outline-none.focus_text-gray-900.focus_bg-gray-50.transition.ease-in-out.duration-150(href='#')
                      | Settings
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/landing')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M3 7v10a2 2 0 002 2h14a2 2 0 002-2V9a2 2 0 00-2-2h-6l-2-2H5a2 2 0 00-2 2z')
                  | Landing Content
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/templates')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d="M4 5a1 1 0 011-1h14a1 1 0 011 1v2a1 1 0 01-1 1H5a1 1 0 01-1-1V5zM4 13a1 1 0 011-1h6a1 1 0 011 1v6a1 1 0 01-1 1H5a1 1 0 01-1-1v-6zM16 13a1 1 0 011-1h2a1 1 0 011 1v6a1 1 0 01-1 1h-2a1 1 0 01-1-1v-6z")
                  | Page Templates
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/stripe-settings')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M3 10h18M7 15h1m4 0h1m-7 4h12a3 3 0 003-3V8a3 3 0 00-3-3H6a3 3 0 00-3 3v8a3 3 0 003 3z')
                  | Stripe
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/plans')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d="M9 5H7a2 2 0 00-2 2v12a2 2 0 002 2h10a2 2 0 002-2V7a2 2 0 00-2-2h-2M9 5a2 2 0 002 2h2a2 2 0 002-2M9 5a2 2 0 012-2h2a2 2 0 012 2m-3 7h3m-3 4h3m-6-4h.01M9 16h.01")
                  | Plans
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/fbpixel')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d="M10 20l4-16m4 4l4 4-4 4M6 16l-4-4 4-4")
                  | Facebook Pixel
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/ganalytics')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M9 19v-6a2 2 0 00-2-2H5a2 2 0 00-2 2v6a2 2 0 002 2h2a2 2 0 002-2zm0 0V9a2 2 0 012-2h2a2 2 0 012 2v10m-6 0a2 2 0 002 2h2a2 2 0 002-2m0 0V5a2 2 0 012-2h2a2 2 0 012 2v14a2 2 0 01-2 2h-2a2 2 0 01-2-2z')
                  | Google Analytics
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/mailchimp')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d="M3 8l7.89 5.26a2 2 0 002.22 0L21 8M5 19h14a2 2 0 002-2V7a2 2 0 00-2-2H5a2 2 0 00-2 2v10a2 2 0 002 2z")
                  | Mailchimp
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/blog-settings')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d="M19 20H5a2 2 0 01-2-2V6a2 2 0 012-2h10a2 2 0 012 2v1m2 13a2 2 0 01-2-2V7m2 13a2 2 0 002-2V9a2 2 0 00-2-2h-2m-4-3H9M7 16h6M7 8h6v4H7V8z")
                  | Blog
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/domain-settings')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9")
                  | Domain
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/social-settings')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d="M18 9v3m0 0v3m0-3h3m-3 0h-3m-2-5a4 4 0 11-8 0 4 4 0 018 0zM3 20a6 6 0 0112 0v1H3v-1z")
                  | Social Sign up
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/apicreds/saasbox')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z")
                  | Inbound API Key
                a.mt-1.group.flex.items-center.px-2.py-2.text-sm.leading-5.font-medium.text-indigo-300.rounded-md.hover_text-white.hover_bg-indigo-700.focus_outline-none.focus_text-white.focus_bg-indigo-700.transition.ease-in-out.duration-150(href='/dashboard/apicreds/apiserver')
                  svg.mr-3.h-6.w-6.text-indigo-400.group-hover_text-indigo-300.group-focus_text-indigo-300.transition.ease-in-out.duration-150(fill='none', viewBox='0 0 24 24', stroke='currentColor')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d="M15 7a2 2 0 012 2m4 0a6 6 0 01-7.743 5.743L11 17H9v2H7v2H4a1 1 0 01-1-1v-2.586a1 1 0 01.293-.707l5.964-5.964A6 6 0 1121 9z")
                  | Outbound JWT Secret

        .flex.flex-col.w-0.flex-1.overflow-hidden
          .mb-8
          //-.relative.z-10.flex-shrink-0.flex.h-16.bg-white.shadow
            button.px-4.border-r.border-gray-200.text-gray-500.focus_outline-none.focus_bg-gray-100.focus_text-gray-600.md_hidden(@click.stop='sidebarOpen = true', aria-label='Open sidebar')
              svg.h-6.w-6(stroke='currentColor', fill='none', viewBox='0 0 24 24')
                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M4 6h16M4 12h16M4 18h7')
            //- Work out the profile edit, and top bar later on.
            //-.flex-1.px-4.flex.justify-between
              .flex-1.flex
                form.w-full.flex.md_ml-0(action='#', method='GET')
                  label.sr-only(for='search_field') Search
                  .relative.w-full.text-gray-400.focus-within_text-gray-600
                    .absolute.inset-y-0.left-0.flex.items-center.pointer-events-none
                      svg.h-5.w-5(fill='currentColor', viewBox='0 0 20 20')
                        path(fill-rule='evenodd', clip-rule='evenodd', d='M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z')
                    input#search_field.block.w-full.h-full.pl-8.pr-3.py-2.rounded-md.text-gray-900.placeholder-gray-500.focus_outline-none.focus_placeholder-gray-400.sm_text-sm(placeholder='Search', type='search')
              .ml-4.flex.items-center.md_ml-6
                button.p-1.text-gray-400.rounded-full.hover_bg-gray-100.hover_text-gray-500.focus_outline-none.focus_ring.focus_text-gray-500(aria-label='Notifications')
                  svg.h-6.w-6(stroke='currentColor', fill='none', viewBox='0 0 24 24')
                    path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M15 17h5l-1.405-1.405A2.032 2.032 0 0118 14.158V11a6.002 6.002 0 00-4-5.659V5a2 2 0 10-4 0v.341C7.67 6.165 6 8.388 6 11v3.159c0 .538-.214 1.055-.595 1.436L4 17h5m6 0v1a3 3 0 11-6 0v-1m6 0H9')
                // Profile dropdown 
                .ml-3.relative(@click.away='open = false', x-data='{ open: false }')
                  div
                    button.max-w-xs.flex.items-center.text-sm.rounded-full.focus_outline-none.focus_ring#user-menu(@click='open = !open', aria-label='User menu', aria-haspopup='true', x-bind_aria-expanded='open')
                      img.h-8.w-8.rounded-full(src='https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80', alt='')
                  .origin-top-right.absolute.right-0.mt-2.w-48.rounded-md.shadow-lg(x-show='open', x-description='Profile dropdown panel, show/hide based on dropdown state.', x-transition_enter='transition ease-out duration-100', x-transition_enter-start='transform opacity-0 scale-95', x-transition_enter-end='transform opacity-100 scale-100', x-transition_leave='transition ease-in duration-75', x-transition_leave-start='transform opacity-100 scale-100', x-transition_leave-end='transform opacity-0 scale-95', style='display: none;')
                    .py-1.rounded-md.bg-white.ring1.ring-black.ring-opacity-5(role='menu', aria-orientation='vertical', aria-labelledby='user-menu')
                      a.block.px-4.py-2.text-sm.text-gray-700.hover_bg-gray-100.transition.ease-in-out.duration-150(href='#', role='menuitem') Your Profile
                      a.block.px-4.py-2.text-sm.text-gray-700.hover_bg-gray-100.transition.ease-in-out.duration-150(href='#', role='menuitem') Settings
                      a.block.px-4.py-2.text-sm.text-gray-700.hover_bg-gray-100.transition.ease-in-out.duration-150(href='#', role='menuitem') Sign out
          main.flex-1.relative.z-0.overflow-y-auto.focus_outline-none(tabindex='0', x-data='', x-init='$el.focus()')
            .pt-2.pb-6.md_py-6
              block page_content
                
  div(style='clear: both; display: block; height: 0px;')           
  block footer
