mixin simple-navbar()
  .relative.pt-6.pb-6.md_pb-6.lg_pb-6.xl_pb-6
    nav.relative.max-w-screen-xl.mx-auto.flex.items-center.justify-between.px-4.sm_px-6
      .flex.items-center.flex-1
        .flex.items-center.justify-between.w-full.md_w-auto
          a(href='/', aria-label='Home')
            img.h-8.w-auto.sm_h-10.rounded-full(src=thisApp.ImageUrl, alt='Logo')
          .-mr-2.flex.items-center.md_hidden
            button.inline-flex.items-center.justify-center.p-2.rounded-md.text-gray-400.hover_text-gray-500.hover_bg-gray-100.focus_outline-none.focus_bg-gray-100.focus_text-gray-500.transition.duration-150.ease-in-out#main-menu(type='button', aria-label='Main menu', aria-haspopup='true')
              svg.h-6.w-6(stroke='currentColor', fill='none', viewBox='0 0 24 24')
                path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M4 6h16M4 12h16M4 18h16')
        .hidden.md_block.md_ml-10
          a.font-medium.text-gray-500.hover_text-gray-900.transition.duration-150.ease-in-out(href='/') Main
          a.ml-10.font-medium.text-gray-500.hover_text-gray-900.transition.duration-150.ease-in-out(href='/pricing') Pricing
          //-a.ml-10.font-medium.text-gray-500.hover_text-gray-900.transition.duration-150.ease-in-out(href='/blog') Blog
      .hidden.md_block.text-right
        if !currentUser
          span.inline-flex.rounded-md.shadow-md
            span.inline-flex.rounded-md.ring1.ring-black.ring-opacity-5
              a.inline-flex.items-center.px-4.py-2.border.border-transparent.text-base.leading-6.font-medium.rounded-md.text-indigo-600.bg-white.hover_bg-gray-50.focus_outline-none.focus_border-indigo-300.focus_ring-indigo.transition.duration-150.ease-in-out(href='/login').
                Log in
          span.inline-flex.rounded-md.ring1.ring-black.ring-opacity-5.ml-3
            a.whitespace-nowrap.inline-flex.items-center.justify-center.px-4.py-2.border.border-transparent.text-base.leading-6.font-medium.rounded-md.text-white.bg-indigo-600.hover_bg-indigo-500.focus_outline-none.focus_border-indigo-700.focus_ring-indigo.active_bg-indigo-700.transition.ease-in-out.duration-150(href='/signup').
              Sign up
        else
          .ml-3.relative(@click.away='open = false', x-data='{ open: false }')
            div
              button.max-w-xs.flex.items-center.text-sm.rounded-full.focus_outline-none.focus_ring#user-menu(@click='open = !open', aria-label='User menu', aria-haspopup='true', x-bind_aria-expanded='open')
                include user-thumb.pug
                +user_thumb_img(currentUser)
                //-img.h-8.w-8.rounded-full(src='https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80', alt='')
            .origin-top-right.absolute.right-0.mt-2.w-48.rounded-md.shadow-lg(x-show='open', x-description='Profile dropdown panel, show/hide based on dropdown state.', x-transition_enter='transition ease-out duration-100', x-transition_enter-start='transform opacity-0 scale-95', x-transition_enter-end='transform opacity-100 scale-100', x-transition_leave='transition ease-in duration-75', x-transition_leave-start='transform opacity-100 scale-100', x-transition_leave-end='transform opacity-0 scale-95', style='display: none;')
              .py-1.rounded-md.bg-white.ring1.ring-black.ring-opacity-5(role='menu', aria-orientation='vertical', aria-labelledby='user-menu')
                a.block.px-4.py-2.font-medium.text-gray-500.hover_bg-gray-100.transition.ease-in-out.duration-150(href=(currentUser.appUser.is_admin ? '/dashboard/profile' : '/user/profile'), role='menuitem') Your Profile
                if currentUser.appUser.is_admin
                  a.block.px-4.py-2.font-medium.text-gray-500.hover_bg-gray-100.transition.ease-in-out.duration-150(href='/dashboard', role='menuitem') Admin Dashboard
                  a.block.px-4.py-2.font-medium.text-gray-500.hover_bg-gray-100.transition.ease-in-out.duration-150(href='/app/start', role='menuitem') App Dashboard
                a.block.px-4.py-2.font-medium.text-gray-500.hover_bg-gray-100.transition.ease-in-out.duration-150(href='/logout', role='menuitem') Sign out
          //-span.inline-flex.rounded-md.shadow-md
            .flex.items-center.px-4.space-x-3
              .flex-shrink-0
                img.h-10.w-10.rounded-full(src='https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80' alt)
              div
                .text-base.font-medium.leading-6.text-gray-800 #{currentUser.firstname} #{currentUser.lastname}
                .text-sm.font-medium.leading-5.text-gray-500 #{currentUser.email}
            .mt-3.space-y-1(role='menu' aria-orientation='vertical' aria-labelledby='user-menu')
              if currentUser.appUser.is_admin
              a.block.px-4.py-2.text-base.font-medium.text-gray-500.hover_text-gray-800.hover_bg-gray-100.focus_outline-none.focus_text-gray-800.focus_bg-gray-100.transition.duration-150.ease-in-out(href=(currentUser.appUser.is_admin ? '/dashboard/user/profile' : '/app/user/profile') role='menuitem') Your Profile
              if currentUser.appUser.is_admin
                a.block.px-4.py-2.text-base.font-medium.text-gray-500.hover_text-gray-800.hover_bg-gray-100.focus_outline-none.focus_text-gray-800.focus_bg-gray-100.transition.duration-150.ease-in-out(href='/dashboard' role='menuitem') Admin Dashboard
              else
                a.block.px-4.py-2.text-base.font-medium.text-gray-500.hover_text-gray-800.hover_bg-gray-100.focus_outline-none.focus_text-gray-800.focus_bg-gray-100.transition.duration-150.ease-in-out(href='/app' role='menuitem') App Dashboard
              a.block.px-4.py-2.text-base.font-medium.text-gray-500.hover_text-gray-800.hover_bg-gray-100.focus_outline-none.focus_text-gray-800.focus_bg-gray-100.transition.duration-150.ease-in-out(href='/logout' role='menuitem') Sign out
          //-
            Mobile menu, show/hide based on menu open state.
            Entering: "duration-150 ease-out"
              From: "opacity-0 scale-95"
              To: "opacity-100 scale-100"
            Leaving: "duration-100 ease-in"
              From: "opacity-100 scale-100"
              To: "opacity-0 scale-95"
    .absolute.top-0.inset-x-0.p-2.transition.transform.origin-top-right.md_hidden
      .rounded-lg.shadow-md
        .rounded-lg.bg-white.ring1.ring-black.ring-opacity-5.overflow-hidden(role='menu', aria-orientation='vertical', aria-labelledby='main-menu')
          .px-5.pt-4.flex.items-center.justify-between
            div
              img.h-8.w-auto(src='https://tailwindui.com/img/logos/workflow-mark-on-white.svg', alt)
            .-mr-2
              button.inline-flex.items-center.justify-center.p-2.rounded-md.text-gray-400.hover_text-gray-500.hover_bg-gray-100.focus_outline-none.focus_bg-gray-100.focus_text-gray-500.transition.duration-150.ease-in-out(type='button', aria-label='Close menu')
                svg.h-6.w-6(stroke='currentColor', fill='none', viewBox='0 0 24 24')
                  path(stroke-linecap='round', stroke-linejoin='round', stroke-width='2', d='M6 18L18 6M6 6l12 12')
          .px-2.pt-2.pb-3
            a.block.px-3.py-2.rounded-md.text-base.font-medium.text-gray-700.hover_text-gray-900.hover_bg-gray-50.focus_outline-none.focus_text-gray-900.focus_bg-gray-50.transition.duration-150.ease-in-out(href='#', role='menuitem') Features
            a.mt-1.block.px-3.py-2.rounded-md.text-base.font-medium.text-gray-700.hover_text-gray-900.hover_bg-gray-50.focus_outline-none.focus_text-gray-900.focus_bg-gray-50.transition.duration-150.ease-in-out(href='#', role='menuitem') Pricing
            a.mt-1.block.px-3.py-2.rounded-md.text-base.font-medium.text-gray-700.hover_text-gray-900.hover_bg-gray-50.focus_outline-none.focus_text-gray-900.focus_bg-gray-50.transition.duration-150.ease-in-out(href='#', role='menuitem') Blog
          div
            if !currentUser
              span.w-full.flex.rounded-md.shadow-sm
                a.w-full.flex.items-center.justify-center.px-4.py-2.border.border-transparent.text-base.leading-6.font-medium.rounded-md.text-white.bg-indigo-600.hover_bg-indigo-500.focus_outline-none.focus_border-indigo-700.focus_ring-indigo.active_bg-indigo-700.transition.ease-in-out.duration-150(href='#').
                  Sign up
              a.block.w-full.px-5.py-3.text-center.font-medium.text-indigo-600.bg-gray-50.hover_bg-gray-100.hover_text-indigo-700.focus_outline-none.focus_bg-gray-100.focus_text-indigo-700.transition.duration-150.ease-in-out(href='#', role='menuitem').
                 | Log in
